.container {
  display: flex;
  height: 100svh;

  .selecao {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;

    .icone-pesquisar {
      max-width: 2rem;
      margin-left: 10px;
      cursor: pointer;
    }

    .equipes {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .botao-cadastrar {
    margin-top: 4rem;
  }
}

  @media (max-width: 767.98px) {
    .container {
      flex-direction: column;
    }
  }
