.container {
  display: flex;
  height: 100svh;
  justify-content: center;
  padding: 1.5rem;

  .selecao {
    text-align: center;

    .icone-pesquisar {
      max-width: 2rem;
      margin-left: 10px;
      cursor: pointer;
    }

    .equipes {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .botao-cadastrar {
    margin-top: 4rem;
  }
}

