.container {
  display: flex;
  height: 100svh;

  .centralizador {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .informacoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 767.98px) {
  .container {
    flex-direction: column;

    .centralizador {
      height: 100svh;
    }

    .informacoes {
      width: 100%;
    }
  }
}
