.card-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 10rem;
  height: 10rem;
  background-color: #ff1100;
  border-radius: 10px;
  cursor: pointer;

  .icone {
    margin: 0.4rem;
    width: 5rem;
    color: #ffffff;
  }

  .texto {
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .card-area {
  
    width: 8rem;
    height: 8rem;
  
    .icone {
      width: 4rem;
    }
  
    .texto {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 470px) {
  .card-area {
  
    width: 6.5rem;
    height: 6.5rem;
  
    .icone {
      width: 3rem;
    }
  
    .texto {
      font-size: 1.3rem;
    }
  }
}
