.card-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 10rem;
  height: 10rem;
  background-color: #00a2ff;
  border-radius: 10px;
  cursor: pointer;

  .icone {
    margin: 0.4rem;
    width: 5rem;
    color: #ffffff;
  }

  .texto {
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
  }
}
