.selecao-equipe {
  color: white;
  width: 12rem;
  min-height: 10rem;
  height: 100%;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  background: #fb3939;
  font-weight: 600;
  font-size: 22px;
  box-shadow: 5px 10px 20px -14px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  &:hover {
    opacity: 0.5;
  }
  &.selecionada {
    background-color: #7d0404;
  }

  &.bloquear {
    background-color: #6d6d6d;
    // pointer-events: none;
    cursor: not-allowed;
  }
}
