.corridas-container {
  padding: 1.5rem;

  .titulo {
    font-size: 2rem;
    background: #00a2ff;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .sub-titulo {
    margin-top: 1rem;
  }

  .linha-corridas {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 1rem;
  }
}
