.selecao-equipes {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .titulo {
    margin: 2rem 2rem 0 2rem;
    text-align: center;
  }

  .container-equipes {
    padding: 3rem;

    .selecionar-equipes {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
    }

    .selecionar-equipes > * {
      flex-basis: calc(20% - 20px);
      margin-bottom: 10px;
      padding: 20px;
      text-align: center;
    }
  }

  .botoes {
    flex-direction: row;
    gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    .selecionar-equipes > * {
      flex-basis: calc(33.33% - 20px);
    }

    .botoes {
      flex-direction: column !important;
    }
  }
}

.container-cronometro {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100vh;

  .coluna-esquerda,
  .coluna-direita {
    padding: 1rem;
    height: 100%;
  }

  .coluna-esquerda {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cronometro {
      font-size: 6rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .botoes {
      flex-direction: row;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }

    .botao-registrar {
      margin-top: 3rem;
    }
  }

  .coluna-direita {
    background-color: #e0e0e0;
    overflow: auto;

    .linha-tempo {
      font-weight: bold;
      background-color: rgb(159, 159, 208);
      padding: 10px;
      border-bottom-left-radius: 10px;
      text-align: center;
      width: 50%;
      margin: 10px auto;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;

    .coluna-esquerda,
    .coluna-direita {
      width: 100%;
    }

    .coluna-esquerda {
      .botoes {
        flex-direction: column;
        width: 50%;
      }
    }
  }
}
