.container {
  display: flex;
  height: 100svh;

  .tabela {
    display: flex;
    width: 100%;
    padding: 1rem;
    overflow: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
@media (max-width: 767.98px) {
  .container {
    flex-direction: column;
  }
}
