.card {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 15rem;
  color: white;
  font-size: 1.2rem;
  align-items: center;
  padding-top: 1rem;
  gap: 5px;
  border-radius: 10px;

  .numero-corrida {
    font-size: 1.5rem;
  }

  .top-tres {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .detalhes {
    height: 100%;
    display: flex;
    align-items: end;

    .detalhes-texto {
      background: white;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      color: blue;


      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.fundo-padrao {
  background: rgb(1, 119, 140);
}
.fundo-fase1 {
  background: rgb(107, 134, 251);
}
.fundo-fase2 {
  background: rgb(55, 89, 239);
}
.fundo-fase3 {
  background: rgb(20, 52, 197);
}
.fundo-fase4 {
  background: rgb(8, 28, 119);
}
.fundo-final {
  background: rgb(1, 12, 61);
}

.titulo-fase {
  font-size: 2rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

.titulo-numerico-corrida {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.texto-comum-corrida {
  font-size: 1.2rem;
}

.titulo-equipes {
  margin-block: 1rem;
  font-size: 1.6rem;
}
