.container {
  display: flex;
  height: 100svh;

  .informacoes {
    width: 60%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    .input-login {
      margin-bottom: 1.2rem;
    }

    .botao {
      height: 4rem;
      width: 100%;
    }
  }
}

@media (max-width: 767.98px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100svh;
    
    .informacoes {
      width: 100%;
    }
  }
}
