.table-container {
  max-width: 800px;
  margin: 0 auto;

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ff1100;

    th,
    td {
      padding: 8px;
    }

    th {
      background-color: #ffffff;
      font-weight: bold;
    }

    tbody tr:nth-child(even) {
      background-color: #ff1100;
    }
  }
}
